* 
{
    margin: 0;
    padding: 0;
    font-family: 'Google Sans', sans-serif;
    font-weight: normal;
}

table 
{
    border-collapse: collapse;
    margin: 2% auto;
}

tr:nth-child(odd) 
{
    background-color: #f9f9f9;
}

tr td:first-child
{
    background-color: #e6e6e6;;
}

th 
{
    background-color: #e6e6e6;;
}

th, td 
{
    border: 0.10rem solid black;
    padding: 1rem;
    text-align: right;
}

td:first-child 
{
    text-align: right;
}

#empty 
{
    border: none;
    color: white;
    background-color: white;
}

.center 
{
    text-align: center;
}

@media only screen and (max-width: 600px) 
{
    table 
    {
        width: 100%;
    }
}
